{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Welcome {{ current_user.username }}</h1>
  {% for role in current_user.roles %}
  <p>You have the role: {{ role.name }}</p>
{% endfor %}
  <h3>Locations.</h3>
  {% if locations %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Location</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      {% for location in locations %}
      <tr>
        <td>{{ location.name }}</td>
        <td>
          <a class="btn btn-primary">Edit</a>
          <a class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No locations found.</p>
  {% endif %}
</div>
{% endblock %}