{% extends "layout.html" %}
{% block content %}
<div class="container my-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('public.home') }}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('location.locations') }}">Locations</a></li>
      {% if mode == 'View' %}
      <li class="breadcrumb-item active" aria-current="page">View Location</li>
      {% elif mode == 'Edit' %}
      <li class="breadcrumb-item active" aria-current="page">Edit Location</li>
      {% elif mode == 'Create' %}
      <li class="breadcrumb-item active" aria-current="page">Create Location</li>
      {% endif %}
    </ol>
  </nav>
  <h1 class="my-2">{{ mode }} Location</h1>
  <form id="locationForm" method="{{ 'POST' if mode != 'View' else 'GET' }}">
    {{ form.hidden_tag() }}
    <div class="d-flex justify-content-end gap-2 my-4">
      {% if mode == 'View' %}
      <a href="{{ url_for('location.edit_location', location_id=location.id) }}" class="btn btn-primary">Edit</a>
      {% elif mode == 'Edit' %}
      {{ form.submit(class="btn btn-primary", value="Update") }}
      <a id="location-discard-changes-btn" class="btn btn-danger"
        data-url="{{ url_for('location.view_location', location_id=location.id) }}"
        data-bs-toggle="modal"
        data-bs-target="#locationDiscardChangesModal">Discard</a>
      {% elif mode == 'Create' %}
      {{ form.submit(class="btn btn-primary", value="Submit") }}
      {% endif %}
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.name.label(class="form-label required") }}
          {{ form.name(placeholder="Location name", class="form-control", required=mode != 'View', disabled=mode ==
          'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.location_type.label(class="form-label required") }}
          {{ form.location_type(placeholder="Location Type", class="form-control form-select", required=mode != 'View',
          disabled=mode == 'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.street.label(class="form-label required") }}
          {{ form.street(placeholder="Street", class="form-control", required=mode != 'View', disabled=mode == 'View')
          }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.ward.label(class="form-label required") }}
          {{ form.ward(placeholder="Ward", class="form-control", required=mode != 'View', disabled=mode == 'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.district.label(class="form-label required") }}
          {{ form.district(placeholder="District", class="form-control", required=mode != 'View', disabled=mode ==
          'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.city.label(class="form-label required") }}
          {{ form.city(placeholder="City", class="form-control", required=mode != 'View', disabled=mode == 'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.principal.label(class="form-label required") }}
          {{ form.principal(placeholder="Principal", class="form-control", required=mode != 'View', disabled=mode ==
          'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.telephone.label(class="form-label required") }}
          {{ form.telephone(placeholder="Telephone", class="form-control", required=mode != 'View', disabled=mode ==
          'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.group.label(class="form-label required") }}
          {{ form.group(placeholder="Group", class="form-control", required=mode != 'View', disabled=mode == 'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.num_class_total.label(class="form-label required") }}
          {{ form.num_class_total(placeholder="Total Class", class="form-control", required=mode != 'View',
          disabled=mode == 'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.num_f1.label(class="form-label required") }}
          {{ form.num_f1(placeholder="Num F1", class="form-control", required=mode != 'View', disabled=mode == 'View')
          }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.num_f2.label(class="form-label required") }}
          {{ form.num_f2(placeholder="Num F2", class="form-control", required=mode != 'View', disabled=mode == 'View')
          }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.num_f3.label(class="form-label required") }}
          {{ form.num_f3(placeholder="Num F3", class="form-control", required=mode != 'View', disabled=mode == 'View')
          }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.num_infant.label(class="form-label required") }}
          {{ form.num_infant(placeholder="Num Infant", class="form-control", required=mode != 'View', disabled=mode ==
          'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.office.label(class="form-label required") }}
          {{ form.office(placeholder="Office", class="form-control", required=mode != 'View', disabled=mode == 'View')
          }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.is_active.label(class="form-label required") }}
          {% for subfield in form.is_active %}
          <span class="me-2">{{ subfield(disabled=mode == 'View') }} {{ subfield.label(class="form-label") }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Discard Changes Confirmation Modal -->
<div class="modal fade" id="locationDiscardChangesModal" tabindex="-1" aria-labelledby="locationDiscardChangesModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="locationDiscardChangesModalLabel">Confirm Discard Changes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to discard changes?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <a href="#" class="btn btn-danger" id="location-on-discard-changes-btn">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}