{% extends "layout.html" %}
{% block content %}
<div class="container my-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('public.home') }}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('sell_invoices.sell_invoices') }}">Sell Invoices</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create Invoice</li>
    </ol>
  </nav>
  <h1 class="my-2">{{ mode }} Invoice {{ form.name.data|default('', true) }}</h1>
  <form id="invoiceForm" method="POST">
    {{ form.hidden_tag() }}
    <div class="d-flex justify-content-end gap-2 my-4">
      {% if mode == 'Create' %}
      <div>
        {{ form.submit(class="btn btn-primary", value="Submit") }}
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.name.label(class="form-label required") }}
          {{ form.name(placeholder="Invoice Name", class="form-control", required=true, disabled=mode == 'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.description.label(class="form-label required") }}
          {{ form.description(placeholder="Description", class="form-control", required=true, disabled=mode == 'View')
          }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.issue_date.label(class="form-label required") }}
          {{ form.issue_date(type='date', placeholder="Issue Date", class="form-control", required=true, disabled=mode
          == 'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.location.label(class="form-label required") }}
          {{ form.location(placeholder="Location", class="form-control form-select", required=true, disabled=mode ==
          'View') }}
        </div>
      </div>
    </div>
    <h2 class="my-2">Invoice Items</h2>
    <div class="d-flex justify-content-end gap-2 my-4">
      {% if mode == 'Create' %}
        <button type="button" id="addInvoiceItem" class="btn btn-secondary">Add Item</button>
      {% endif %}
    </div>
    <div id="invoiceItems">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tool</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            {% if mode == 'Create' %}
              <th scope="col">Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody id="invoiceItemsBody">
          {% for invoice_item_form in form.invoice_item_forms %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ invoice_item_form.tool(placeholder="Name", class="form-control form-select", disabled=mode == 'View') }}</td>
            <td>{{ invoice_item_form.quantity(placeholder="Quantity", class="form-control", disabled=mode == 'View') }}</td>
            <td>{{ invoice_item_form.price(placeholder="Price", class="form-control", disabled=mode == 'View') }}</td>
            {% if mode == 'Create' %}
              <td><button type="button" class="remove-sell-invoice-item-btn btn btn-danger">Remove</button></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </form>
</div>
{% endblock %}