{% extends "layout.html" %}
{% block content %}
<div class="container my-4">
  <h3>SELL INVOICES</h3>
  <div class="d-flex justify-content-end my-4">
    <div class="d-flex align-items-center gap-2">
      <form action="{{ url_for('sell_invoices.search') }}" method="get" class="d-inline position-relative">
        <div class="input-group">
          <input id="search-input" type="text" name="q" placeholder="Search sell invoices"
            class="form-control d-inline-block" value="{{ search_term }}" style="width: auto;"
            oninput="toggleClearButton()">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fa-solid fa-search"></i>
            </button>
          </div>
        </div>
        <button id="clear-button" type="button" class="btn position-absolute" style="right: 40px; top: 0;"
          onclick="clearSearch()">
          <i class="fa-solid fa-times"></i>
        </button>
      </form>
      <a class="btn btn-primary" href="{{ url_for('sell_invoices.new_sell_invoice') }}"><i class="fa-solid fa-plus"></i>
        New</a>
    </div>
  </div>
  {% if sell_invoices %}
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Issue date</th>
          <th>Total Price</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in sell_invoices %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ invoice.name }}</td>
          <td>{{ invoice.description }}</td>
          <td>{{ invoice.issue_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
          <td>{{ invoice.total_price|format_thousands }}</td>
          <td>{{ invoice.location.name }}</td>
          <td>
            <a class="btn btn-sm btn-primary"
              href="{{ url_for('sell_invoices.view_sell_invoice', sell_invoice_id=invoice.id) }}">View</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <h4 class="text-center m-4">No sell invoices found.</h4>
  {% endif %}
</div>
{% endblock %}