{% extends "layout.html" %}
{% block content %}
<div class="container my-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('public.home') }}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('machine.machines') }}">Machines</a></li>
      {% if mode == 'View' %}
      <li class="breadcrumb-item active" aria-current="page">View Machine</li>
      {% elif mode == 'Edit' %}
      <li class="breadcrumb-item active" aria-current="page">Edit Machine</li>
      {% elif mode == 'Create' %}
      <li class="breadcrumb-item active" aria-current="page">Create Machine</li>
      {% endif %}
    </ol>
  </nav>
  <h1 class="my-2">{{ mode }} machine</h1>
  <form id="machineForm" method="{{ 'POST' if mode != 'View' else 'GET' }}">
    {{ form.hidden_tag() }}
    <div class="d-flex justify-content-end gap-2 my-4">
      {% if mode == 'View' %}
      <a href="{{ url_for('machine.edit_machine', machine_id=machine.id) }}" class="btn btn-primary">Edit</a>
      <a href="{{ url_for('machine.copy_machine', machine_id=machine.id) }}" class="btn btn-primary">Copy</a>
      {% elif mode == 'Edit' %}
      {{ form.submit(class="btn btn-primary", value="Update") }}
      <a id="machine-discard-changes-btn" class="btn btn-danger"
        data-url="{{ url_for('machine.view_machine', machine_id=machine.id) }}"
        data-bs-toggle="modal"
        data-bs-target="#machineDiscardChangesModal">Discard</a>
      {% elif mode == 'Create' %}
      {{ form.submit(class="btn btn-primary", value="Submit") }}
      {% endif %}
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.name.label(class="form-label required") }}
          {{ form.name(placeholder="Name", class="form-control", required=mode != 'View', disabled=mode ==
          'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.description.label(class="form-label") }}
          {{ form.description(placeholder="Description", class="form-control", disabled=mode == 'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.type.label(class="form-label required") }}
          {{ form.type(placeholder="Type", class="form-control", required=mode != 'View', disabled=mode == 'View')
          }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.serial.label(class="form-label required") }}
          {{ form.serial(placeholder="Serial", class="form-control", required=mode != 'View', disabled=mode == 'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.model.label(class="form-label required") }}
          {{ form.model(placeholder="Model", class="form-control", required=mode != 'View', disabled=mode ==
          'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.price.label(class="form-label required") }}
          {{ form.price(placeholder="Price", class="form-control", required=mode != 'View', disabled=mode == 'View') }}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          {{ form.status.label(class="form-label required") }}
          {{ form.status(placeholder="Status", class="form-control form-select", required=mode != 'View', disabled=mode == 'View') }}
        </div>
      </div>
      </div>
    </div>
  </form>
</div>

<!-- Discard Changes Confirmation Modal -->
<div class="modal fade" id="machineDiscardChangesModal" tabindex="-1" aria-labelledby="machineDiscardChangesModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="machineDiscardChangesModalLabel">Confirm Discard Changes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to discard changes?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <a href="#" class="btn btn-danger" id="machine-on-discard-changes-btn">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}